%buttonBase {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--fontSize, 16px) / 2) var(--fontSize, 16px);
  margin: 0;

  user-select: none;
  font-size: var(--fontSize, 16px);
  font-weight: 500;
  font-family: inherit;
  line-height: 1;

  border-radius: 8px;
  border: 2px solid transparent;

  transition-duration: 300ms;

  &:disabled {
    opacity: 0.1;
  }
}

%raisedButton {
  @extend %buttonBase;

  background-color: white;
  border-color: white;
  color: var(--accentColor);
  box-shadow: 0 var(--shadowLevel) calc(var(--shadowLevel) * 4)
    var(--shadowColor);
  --shadowLevel: 2px;
  transition-property: background-color, color, box-shadow, transform, opacity;

  &:focus {
    background-color: var(--accentColor);
    color: white;
  }

  &:not(:disabled):hover {
    --shadowLevel: 4px;
    transform: translateY(-4px);
  }

  &:not(:disabled):active {
    --shadowLevel: 0;
    transform: translateY(4px);
    opacity: 0.5;
  }
}

%flatButton {
  @extend %buttonBase;

  background-color: var(--accentColor);
  border-color: var(--accentColor);
  color: white;
  transition-property: opacity, background-color, color;

  &:hover {
    opacity: (2 / 3);
  }

  &:active {
    opacity: (1 / 3);
  }

  &:focus {
    background-color: white;
    color: var(--accentColor);
  }
}
