%welcomeScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 64px;

  background-color: var(--accentColor);
  color: white;

  &_title {
    font-weight: normal;
    margin: 0;
    font-size: 64px;
    text-align: center;
    cursor: default;
    line-height: 1.25;
  }
}
