@import "../componentStyles/welcomeScreen.scss";
@import "../componentStyles/button.scss";

.importScreen {
  @extend %welcomeScreen;

  &_title {
    @extend %welcomeScreen_title;
  }

  &_button {
    @extend %raisedButton;
    --fontSize: 32px;

    input {
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.02);
  position: sticky;
  top: 0;
  z-index: 1;

  &_button {
    display: flex;
  }
}

.serverUrl {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 6px;

  &_label {
    font-size: 12px;
    color: rgb(0 0 0 / 0.25);
    user-select: none;
    cursor: default;
  }

  &_url {
    font-size: 18px;
    color: rgb(0 0 0 / 0.75);
    font-family: "Ubuntu Mono", "Fira Code", "Lucida Console", monospace;
    font-style: normal;
  }
}

.adminPanel {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.02);

  &_replacePlot {
    @extend %flatButton;

    input {
      appearance: none;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }

  &_lines {
    display: flex;
    flex-direction: column;
    max-width: 1024px + 32px * 2;
    padding: 64px 32px;
    margin: 0 auto;
    list-style: none;
    min-height: 100vh;
    gap: 32px;
  }
}

.line {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  color: rgb(0 0 0 / 0.75);

  transition-property: opacity, box-shadow;
  transition-duration: 300ms;
  cursor: default;

  &.-active {
    box-shadow: 0 4px 16px rgb(0 0 0 / 0.05);
  }

  &:not(.-active) {
    opacity: 0.5;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
  }

  &_role {
    color: var(--accentColor);
    font-size: 16px;
    margin: 0 0 16px;
  }

  &_text {
    font-size: 32px;
    margin: 0;
    line-height: 1.5;
  }
}
