@import "../componentStyles/welcomeScreen.scss";
@import "../componentStyles/button.scss";

.roleSelection {
  @extend %welcomeScreen;

  &_title {
    @extend %welcomeScreen_title;
  }

  &_select {
    display: flex;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    list-style: none;

    font-family: inherit;
    font-size: 32px;
    color: white;

    background-color: var(--shadowColor);

    li:not(:last-child) {
      border-right: 2px solid var(--shadowColor);
    }
  }

  &_option {
    display: block;
    padding: 16px 32px;
    text-align: center;
    border: 2px solid transparent;
    outline: none;

    transition-property: color, background-color, border-color;
    transition-duration: 300ms;

    &:hover {
      background-color: rgb(0 0 0 / 0.05);
    }

    &:active {
      background-color: rgb(0 0 0 / 0.1);
    }

    &:focus {
      border-color: white;
    }

    &.-active {
      background-color: white;
      color: var(--accentColor);

      &:focus {
        border-color: rgb(0 0 0 / 0.2);
      }
    }

    li:first-child & {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    li:last-child & {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    input {
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
      appearance: none;
    }
  }

  &_apply {
    @extend %raisedButton;
    --fontSize: 32px;
  }
}

.text {
  font-size: 96px;
  margin: 0;
  line-height: 1.25;
}
